html,
body,
#root {
	height: 100%;
}

footer {
	margin-top: auto;
}

.box {
	padding: 1rem;
	margin: 1rem;
	border-radius: 16px;
	box-shadow: 5px 5px 1000px rgb(230, 223, 247) inset;
}

.box:hover {
	padding: 1rem;
	margin: 1rem;
	border-radius: 16px;
	box-shadow: 0 0 50px rgba(0, 0, 25, 0.2);
}
